<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="ui grid container">
  <div class="four wide column">
    <div class="ui card">
      <div class="ui slide masked reveal image">
        <img src="https://github.com/manthanank/slash/blob/master/src/app/Slash-logo.png?raw=true" class="visible content">
        <img src="https://github.com/manthanank/slash/blob/master/src/app/Slash-logo.png?raw=true" class="hidden content">
      </div>
      <div class="content">
        <a class="header">Team Fu &amp; Hess</a>
        <div class="meta">
          <span class="date">Created in Sep 2014</span>
        </div>
      </div>
      <div class="extra content">
        <a>
          <i class="users icon"></i>
          2 Members
        </a>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui card">
      <div class="ui slide masked reveal image">
        <img src="/images/avatar/large/jenny.jpg" class="visible content">
        <img src="/images/avatar/large/elliot.jpg" class="hidden content">
      </div>
      <div class="content">
        <a class="header">Team Fu &amp; Hess</a>
        <div class="meta">
          <span class="date">Created in Sep 2014</span>
        </div>
      </div>
      <div class="extra content">
        <a>
          <i class="users icon"></i>
          2 Members
        </a>
      </div>
    </div>
  </div>
  <div class="four wide column"><div class="ui card">
    <div class="ui slide masked reveal image">
      <img src="/images/avatar/large/jenny.jpg" class="visible content">
      <img src="/images/avatar/large/elliot.jpg" class="hidden content">
    </div>
    <div class="content">
      <a class="header">Team Fu &amp; Hess</a>
      <div class="meta">
        <span class="date">Created in Sep 2014</span>
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        2 Members
      </a>
    </div>
  </div></div>
  <div class="four wide column"><div class="ui card">
    <div class="ui slide masked reveal image">
      <img src="/images/avatar/large/jenny.jpg" class="visible content">
      <img src="/images/avatar/large/elliot.jpg" class="hidden content">
    </div>
    <div class="content">
      <a class="header">Team Fu &amp; Hess</a>
      <div class="meta">
        <span class="date">Created in Sep 2014</span>
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        2 Members
      </a>
    </div>
  </div></div>
  <div class="four wide column"><div class="ui card">
    <div class="ui slide masked reveal image">
      <img src="/images/avatar/large/jenny.jpg" class="visible content">
      <img src="/images/avatar/large/elliot.jpg" class="hidden content">
    </div>
    <div class="content">
      <a class="header">Team Fu &amp; Hess</a>
      <div class="meta">
        <span class="date">Created in Sep 2014</span>
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        2 Members
      </a>
    </div>
  </div></div>
  <div class="four wide column"><div class="ui card">
    <div class="ui slide masked reveal image">
      <img src="/images/avatar/large/jenny.jpg" class="visible content">
      <img src="/images/avatar/large/elliot.jpg" class="hidden content">
    </div>
    <div class="content">
      <a class="header">Team Fu &amp; Hess</a>
      <div class="meta">
        <span class="date">Created in Sep 2014</span>
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        2 Members
      </a>
    </div>
  </div></div>
  <div class="four wide column"><div class="ui card">
    <div class="ui slide masked reveal image">
      <img src="/images/avatar/large/jenny.jpg" class="visible content">
      <img src="/images/avatar/large/elliot.jpg" class="hidden content">
    </div>
    <div class="content">
      <a class="header">Team Fu &amp; Hess</a>
      <div class="meta">
        <span class="date">Created in Sep 2014</span>
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        2 Members
      </a>
    </div>
  </div></div>
  <div class="four wide column"><div class="ui card">
    <div class="ui slide masked reveal image">
      <img src="/images/avatar/large/jenny.jpg" class="visible content">
      <img src="/images/avatar/large/elliot.jpg" class="hidden content">
    </div>
    <div class="content">
      <a class="header">Team Fu &amp; Hess</a>
      <div class="meta">
        <span class="date">Created in Sep 2014</span>
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        2 Members
      </a>
    </div>
  </div></div>
  <div class="four wide column"><div class="ui card">
    <div class="ui slide masked reveal image">
      <img src="/images/avatar/large/jenny.jpg" class="visible content">
      <img src="/images/avatar/large/elliot.jpg" class="hidden content">
    </div>
    <div class="content">
      <a class="header">Team Fu &amp; Hess</a>
      <div class="meta">
        <span class="date">Created in Sep 2014</span>
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        2 Members
      </a>
    </div>
  </div></div>
  <div class="four wide column"><div class="ui card">
    <div class="ui slide masked reveal image">
      <img src="/images/avatar/large/jenny.jpg" class="visible content">
      <img src="/images/avatar/large/elliot.jpg" class="hidden content">
    </div>
    <div class="content">
      <a class="header">Team Fu &amp; Hess</a>
      <div class="meta">
        <span class="date">Created in Sep 2014</span>
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        2 Members
      </a>
    </div>
  </div></div>
  <div class="four wide column"><div class="ui card">
    <div class="ui slide masked reveal image">
      <img src="/images/avatar/large/jenny.jpg" class="visible content">
      <img src="/images/avatar/large/elliot.jpg" class="hidden content">
    </div>
    <div class="content">
      <a class="header">Team Fu &amp; Hess</a>
      <div class="meta">
        <span class="date">Created in Sep 2014</span>
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        2 Members
      </a>
    </div>
  </div></div>
  <div class="four wide column"><div class="ui card">
    <div class="ui slide masked reveal image">
      <img src="/images/avatar/large/jenny.jpg" class="visible content">
      <img src="/images/avatar/large/elliot.jpg" class="hidden content">
    </div>
    <div class="content">
      <a class="header">Team Fu &amp; Hess</a>
      <div class="meta">
        <span class="date">Created in Sep 2014</span>
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        2 Members
      </a>
    </div>
  </div></div>
</div>