.row{
  padding-top:20px;
  height:100px;
  width:500px;
  padding-left:30px;
}
.col{
  padding-top:30px;
  padding-left:30px;
  height:100px;
  width:500px;
  background-color:red;
}
.col1{
  padding-top:30px;
  padding-left:30px;
  height:100px;
  width:500px;
  background-color:red;
}
.col2{
  padding-top:30px;
  padding-left:30px;
  height:100px;
  width:500px;
  background-color:red;
}
.col3{
  padding-top:30px;
  padding-left:30px;
  height:100px;
  width:500px;
  background-color:red;
}
.col4{
  padding-top:30px;
  padding-left:30px;
  height:100px;
  width:500px;
  background-color:red;
}
.col5{
  padding-top:30px;
  padding-left:30px;
  height:100px;
  width:500px;
  background-color:red;
}
.col6{
  padding-top:30px;
  padding-left:30px;
  height:100px;
  width:500px;
  background-color:red;
}
.col7{
  padding-top:30px;
  padding-left:30px;
  height:100px;
  width:500px;
  background-color:red;
}
.col8{
  padding-top:30px;
  padding-left:30px;
  height:100px;
  width:500px;
  background-color:red;
}