<h3 style="text-align: center;padding-top: 100px;">BROWSE POPULAR CATEGORIES</h3><br>
<div style="margin-top:3rem;" class="container">  
        <figure class=""><img routerLink="Tables" [src]="" class="img-responsive"
            style="width:100%" alt="Tables">
        </figure>
        <h5 class="itemName" style="margin-bottom:2rem;"><b>Tables</b></h5>
        <figure class=""><img routerLink="Lamps" [src]="" class="img-responsive"
            style="width:100%" alt="Lamps">
        </figure>
        <h5 class="itemName" style="margin-bottom:2rem;"><b>Lamps</b></h5>
      <figure class=""><img routerLink="Printings" [src]="" class="img-responsive"
          style="width:100%" alt="3Dprintings">
      </figure>
      <h5 class="itemName" style="margin-bottom:2rem;"><b>3Dprintings</b></h5>
    </div>
