<!--card start-->
<div class="container">
  <div>
  <div class="itemName">
    <h1>TABLES</h1>
  </div>
  <div class="card" class="border-0" style="width: 18rem;">
  <div class="zoom">
  <img src="https://github.com/manthanank/slash/blob/master/src/app/table.png?raw=true" class="card-img-top" alt="...">
  </div>
  <a class="btn btn-primary center-button" routerLink="tables">Shop Tables</a>
  </div>
  </div>
  
  <div>
  <div class="itemName">
    <h1>Lamp</h1>
  </div>
  <div class="card" class="border-0" style="width: 18rem;">
  <div class="zoom">
  <img src="https://github.com/manthanank/slash/blob/master/src/app/lamp.png?raw=true" class="card-img-top" alt="...">
  </div>
  <a href="#" class="btn btn-primary center-button" routerLink="lamps">Go To Lamps</a>
  </div>
  </div>
  
  <div>
  <div class="itemName">
    <h1>3D Printing</h1>
  </div>
  <div class="card" class="border-0" style="width: 18rem;">
  <div class="zoom">
    <img src="https://github.com/manthanank/slash/blob/master/src/app/3D printing.png?raw=true" class="card-img-top" alt="...">
  </div>
  <a href="#" class="btn btn-primary center-button" routerLink="printings">Go To 3D Paintings</a>
  </div>
  </div>
  </div>
  <!--card ends-->

  <div style="margin-top:3rem;" class="container text-center">
    <h3>BROWSE POPULAR CATEGORIES</h3><br>
    <div class="row">
      <div class="col-sm-6">
        <figure class="t"><img routerLink="" [src]="" class="img-responsive"
            style="width:100%" alt="Tables">
        </figure>
        <h5 style="margin-bottom:2rem;"><b>Tables</b></h5>
      </div>
      <div class="col-sm-6">
        <figure class="t"><img routerLink="" [src]="" class="img-responsive"
            style="width:100%" alt="Lamps">
        </figure>
        <h5><b>Lamps</b></h5>
      </div>
      <div class="col-sm-6">
      <figure class="t"><img routerLink="" [src]="" class="img-responsive"
          style="width:100%" alt="3Dprintings">
      </figure>
      <h5><b>3Dprintings</b></h5>
    </div>
    </div>
    </div>