<h3 style="text-align: center;padding-top: 60px;">BROWSE POPULAR CATEGORIES</h3><br>
<div style="margin-top:3rem;" class="container">
  <div class="row">
    <div class="col">
      <figure class=""><img routerLink="tables" src="https://github.com/manthanank/slash/blob/master/src/app/Slash-logo.png?raw=true" class="img-responsive"
        style="width:100%" alt="Tables">
    </figure><br>
    <h5 class="itemName" style="margin-bottom:2rem;text-align:center;"><b>Tables</b></h5>
    </div>
    <div class="col">
      <figure class=""><img routerLink="lamps" src="https://github.com/manthanank/slash/blob/master/src/app/Slash-logo.png?raw=true" class="img-responsive"
        style="width:100%" alt="Lamps">
    </figure><br>
    <h5 class="itemName" style="margin-bottom:2rem;text-align:center;"><b>Lamps</b></h5>
    </div>
    <div class="col">
      <figure class=""><img routerLink="printings" src="https://github.com/manthanank/slash/blob/master/src/app/Slash-logo.png?raw=true" class="img-responsive"
        style="width:100%" alt="3Dprintings">
    </figure><br>
    <h5 class="itemName" style="margin-bottom:2rem;text-align:center;"><b>3D Printings</b></h5>
    </div>
  </div>
    </div>

